<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="">
</head>

<body>
  <h1>Mission Index Page</h1>
  <ul>Mission Names</ul>
  <% for(let i = 0; i <= MarsMissions.length-1; i++){ %>
      <li><%= mission[i].name %></li>
    <% }); %>

  <script type="text/javascript" src=""></script>
</body>

</html>
